@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-dark: #1F1F1F;
    --font-light: #F1F1F1;
    
    --verde-escuro: #398378;
    --verde: #6FC259;
    --branco-claro: #E8E7D5;
    --branco: #F1F1F1;
    --bege: #F5F4E0;

    --border-radius: 8px;
    --margin: 8px;
    --padding: 8px;

    --font-size: 8px;
    --drop-shadow-color: rgba(0, 0, 0, 0.25);
}

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}