body {
    height: 100vh;
}

main {
    display: flex;
    margin-top: 64px
}

aside {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: var(--verde-escuro);
    height: 100vh;
}

aside button {
    border: 0;
    padding: 20px 0;
    background-color: var(--verde-escuro);
    color: var(--branco-white);
}

article {
    width: 85%;
}

.selectButton {
    background-color: var(--verde-escuro);
    font-weight: bold;
}

.navbar-article {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--verde);
}

.navbar-article button {
    padding: 20px 0;
    border: 0;
    background-color: var(--verde);
    color: var(--branco-white);
}

section {
    background-color: var(--bege);
    height: 100vh;  
}

.section {
    display: none;
}

#section1, #section2, #section3, #section1 {
    padding: 20px;
}

.group-infos {
    background-color: var(--bege-escuro);
    padding: 15px;
    border-radius: 15px;
}

.input1, .input2, .input3 {
    display: flex;
    justify-content: space-between;
}

.input1 input, .input2 input, .input3 input {
    border-radius: 10px;
    border: 1px solid var(--verde-escuro);
    margin: 3px 0;
    padding: 5px;
}

.input input {
    width: 100%;
}

.input2 input{
    width: 48.5%;
}

.input3 input{
    width: 31.9%;
}

.group-infos input::placeholder {
    color: var(--verde-escuro);
}

.section-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
        background-color: var(--verde-escuro);
        border: 0;
        border-radius: 15px;
        padding: 7px 80px;
        color: var(--branco-claro);
        font-weight: bold;
    }
}