body {
    height: 100vh;
}

main {
    display: flex;
    margin-top: 64px
}

aside {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: var(--verde-escuro);
    height: 100vh;
}

aside button {
    border: 0;
    padding: 20px 0;
    background-color: var(--verde-escuro);
    color: var(--branco-white);
}

article {
    width: 85%;
}

.selectButton {
    background-color: var(--verde-escuro);
    font-weight: bold;
}

.navbar-article {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--verde);
}

.navbar-article button {
    padding: 20px 0;
    border: 0;
    background-color: var(--verde);
    color: var(--branco-white);
}

section {
    background-color: var(--bege);
    height: 100vh;  
}

.section {
    display: none;
}

#section1, #section2, #section3, #section1 {
    padding: 20px;
}

.group-infos {
    background-color: var(--bege-escuro);
    padding: 15px;
    border-radius: 15px;
}

.input1, .input2, .input3 {
    display: flex;
    justify-content: space-between;
}

.input1 input, .input2 input, .input3 input {
    border-radius: 10px;
    border: 1px solid var(--verde-escuro);
    margin: 3px 0;
    padding: 5px;
}

.input input {
    width: 100%;
}

.input2 input{
    width: 48.5%;
}

.input3 input{
    width: 31.9%;
}

.single-input input, .single-input textarea {
    width: 100%;
}

input[type="date"] {
    color: var(--verde-escuro); 
}

textarea {
    margin-top: 3px;
    padding: 3px;
    color: var(--verde-escuro);
}

.section-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
        background-color: var(--verde-escuro);
        border: 0;
        border-radius: 15px;
        padding: 7px 80px;
        color: var(--branco-claro);
        font-weight: bold;
    }
}

.section-button button {
    transition: all ease-in-out 0.2s;
    border: solid 3px var(--verde-escuro);
    padding: calc(0.5 * var(--padding)) calc(3 * var(--padding));
    border-radius: var(--border-radius);
    background-color: var(--verde-escuro);
    color: var(--font-light);
    font-weight: bold;
    font-size: calc(2 * var(--font-size));
    margin-top: calc(2 * var(--margin));
}

.section-button button:hover {
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    background-color: transparent;
    color: var(--verde-escuro);
}

@media (max-width: 794px) {
    .input1, .input2, .input3 {
        flex-direction: column;
    } 

    .input1 input, .input2 input, .input3 input {
        width: 100%;
    }
}