table {
    border-collapse: separate;
    width: 100%;
    border-radius: 15px;
    text-align: center;

}

thead {
    background-color: var(--verde-escuro);
    color: white;
}

tr {
    padding: 0;
    margin: 0;
}

th {
    padding: var(--padding) 0;
}


tbody {
    margin: 0;
    padding: var(--padding);
    background-color: var(--branco-white);
}

tbody > tr:nth-of-type(even) {
    background-color: white;
}

td {
    margin: 0;
    padding: 10px;
}